<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.github.url }}/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <link href="{{ site.github.url }}/feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.data.settings.title }} | {{ site.data.settings.tagline }}"/>
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{site.github.url}}/atom.xml" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- Use Atom -->
  {% feed_meta %}

</head>
