<div class="menu">
  <nav class="social-icons">
    <div class="social-icons_size-youtube-play">
      <a href="{{ site.data.settings.social.youtube.link }}" target="_blank"><i class="fa fa-yo" aria-hidden="true"></i></a>
    </div>
    <div class="social-icons_size-vk">
      <a href="{{ site.data.settings.social.vk.link }}" target="_blank"><i class="fa fa-vvk" aria-hidden="true"></i>
      </a>
    </div>
    <div class="social-icons_size-web">
      <a href="{{ site.data.settings.social.courses.link }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
</div>
